/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
# Laravel 5 & Lumen specific
public/storage
public/hot
/public/js/filament
# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.phpunit.cache
/public/build
/public/css/filament
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
.idea/*
.pnpm/*
*.log
.DS_Store
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/auth.json
/node_modules
/public/fonts-manifest.dev.json
/public/fonts/filament
/public/hot
/public/storage
/storage/*.key
/vendor
_ide_helper.php
Thumbs.db
